@import "tailwindcss";

@config "../../../tailwind.config.js";

:root {
    background-color: black;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}